@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h3>
    You signed out successfully!
</h3>

<div class="signout btn btn-danger">
    <a asp-action="Login" style="color:black;">Back to login page</a>
</div>